section.services {
    position: absolute;
    top: 70px;
    bottom: auto;
    opacity: 1;
    padding-bottom: 0px;
}
.services .container{
    padding: 30px;
}
.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #dee2e6;
    font-family: "Poppins", sans-serif;
}
.row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
}