.about {
    position: absolute;
    width: 100%;
    top: 70px;
    opacity: 1;
    padding-bottom: 0px;
}

.container {
    background: rgba(0, 0, 0, 0);
    padding: 30px;
    margin: 0px 70px;
}

.section-title h2 {
    display: block;
    font-size: 14px;
    padding: 0;
    margin: 0 0 20px 0;
    font-weight: 500;
    line-height: 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #dee2e6;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #dee2e6;
    margin: 4px 10px;
}

.container .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.image {
    width: 30%;
    padding-right: 15px;
    padding-left: 15px;
}

.image img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.content {
    flex: 1;
    padding-right: 15px;
    padding-left: 15px;
    color: #dee2e6;
}

.content p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
}

.content .row {
    display: flex;
    justify-content: space-between;
}

.content .col1, .content .col2 {
    flex: 1;
    padding: 0 15px;
}
.box{
    position: relative;
    width: 25%;
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.box .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #09203a;
    transition: ease-in-out 0.3s;
}
.box .icon-box .icon-style{
    padding-right:10px ;
    color:#ffbb2c;
    font-size: x-large;
}
.box .icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
    color: #fff;
}