.about {
    background-color: #0d1b2a;
    color: #fff;
    height: 100%;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #dee2e6;
    font-family: "Poppins", sans-serif;
  }
  
.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #dee2e6;
    margin: 4px 10px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin: 70px;
}

.image img {
    width: 15%;
    height:15% ;
}

.content {
    max-width: 600px;
    text-align: left;
}

.content p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
}

.details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.details ul {
    list-style: none;
    padding: 0;
}

.details ul li {
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.interests {
    margin-top: 30px;
    text-align: center;
}

.interests h2 {
    color: #ffc107;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

.interest-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.interest-item {
    background-color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
