.menu {
    position: fixed;
    display: flex;
    align-items: center;
    height: 3em;
    width: 100vw;
    background-color: rgb(1, 14, 27);
}

.menu h1 {
    padding-left: 70px;
    font-size: 48px;
    font-weight: 600;
    color: #dee2e6;
}

.menu ul {
    padding-left: 40px;
    display: flex;
}

.menu ul li {
    margin-left: 30px;
}

.menu ul li a {
    text-decoration: none;
    display: block;
    position: relative;
    color: #fff;
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.menu ul li a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #fff; 
    transition: width 0.3s;
}

.menu ul li a:hover::after {
    width: 100%; 
}
