nav{
    position: fixed;
    height: 90px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(1, 14, 27);
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 15px;
    margin: 0px 70px;
}

nav .menu h1 a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
    font-size: 40px;
}


.menu .navbar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu .navbar li{
    margin: 0px 20px;
}
.menu .navbar li a {
    text-decoration: none;
    position: relative;
    display: block;
    color: #fff;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    transition: color 0.3s;
}

.menu .navbar li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    background-color: #ffc107;
    width: 0;
    transition: width 0.3s ease-out;
}

.menu .navbar li a:hover {
    color: #12d640; 
}

.menu .navbar li a:hover::after {
    width: 25px;
}
